doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        block main
        link(rel='stylesheet' href='css/reset.css')
        style.
          body {
          margin:0px; padding:0px;
          }
          * { Box-sizing: Border-box }

    body
        script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js')
        script(src='js/index.js')
